@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    }

body{
    background-color: #E4D1B2;
}
h1{
    font-size:72pt;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.down{
    text-decoration: none;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 100px;
    margin: 20px;
}
th{
    font-weight: 900;
    font-size: larger;
    padding: 10px;
    background-color: #d8c3a5;

}
table{
    background-color: #ffebc8;
}

.down :hover{
    background-color: #d8c3a5;
    color: #000;
    transition: 0.1s;
    margin: 18px;
    padding: 22px;
}
